.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.anchor-pane {
    -fx-border-color: transparent;
    -fx-font-size: .01em;
}

#InfoBox {
    -fx-background-color: transparent;
}

.label {
    -fx-text-fill: lightgray;
}

#Warning {
    -fx-text-fill: rgb(100,20,20);
    -fx-font-family: Menlo;
    -fx-font-size: 17.4;
}

#ICP {
    -fx-text-fill: rgb(255,255,255);
    -fx-font-family: Menlo;
    -fx-font-size: 15;
}

#LargerFont {
    -fx-font-size: 18;
    -fx-text-fill: rgb(255,255,100);
}

#SettingsOne {
    -fx-text-fill: rgba(220,220,200,1);
}

#SettingsTwo {
    -fx-text-fill: rgba(230,230,230,1);
}

#notify {
    -fx-text-fill: rgba(255,255,0,1);
}

#masterReset {
    -fx-text-fill: rgba(255,255,0,1);
    -fx-font-size: 18;
}

#conflict {
    -fx-text-fill: rgb(255,100,0);
}
.text-field {
    -fx-prompt-text-fill: gray;
}

#Red{
    -fx-text-fill: rgb(255,0,0);
    -fx-prompt-text-fill: rgb(255,0,0);
    -fx-highlight-fill: rgb(175,0,0);
}

#Blue{
    -fx-text-fill: rgb(0,91,255);
    -fx-prompt-text-fill: rgb(0,91,255);
    -fx-highlight-fill: rgb(0,0,255);
}

#HotPink{
    -fx-text-fill: rgb(255,0,179);
    -fx-prompt-text-fill: rgb(255,0,179);
    -fx-highlight-fill: rgb(255,0,179);
}

#Green{
    -fx-text-fill: rgb(0,255,234);
    -fx-prompt-text-fill: rgb(0,255,234);
    -fx-highlight-fill: rgb(0,255,234);
}

#Yellow{
    -fx-text-fill: rgb(255,255,0);
    -fx-prompt-text-fill: rgb(255,255,0);
    -fx-highlight-fill: rgb(255,255,0);
}

.titulo {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button {
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-text-fill: white;
}

#GitHubCompare {
    -fx-text-fill: darkorange;
}

#GitHubCompare.button:hover {
    -fx-text-fill: black;
}

.separator *.line {
    -fx-background-color: #3C3C3C;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar {
    -fx-background-color: derive(-fx-base, 45%)
}

.button:default {
    -fx-base: -fx-accent;
}

.table-view {
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label {
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd {
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell {
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.text-field {
    -fx-background-color: transparent;
    -fx-highlight-fill: rgba(0, 175, 155, 1);
    -fx-highlight-text-fill: rgba(0, 0, 0, 1);
    -fx-font-size: 11pt;
    -fx-font-family: "Courier New";
    -fx-text-fill: ghostwhite;
    -fx-opacity: 1;
    -focus-color: transparent;
    -fx-prompt-text-fill: rgba(255, 255, 255, .2);
}

.text-field:readonly {
    -fx-opacity: .8;
}
#login {
    -fx-font-size: 15;
}

.text-area .scroll-bar:vertical,
.text-area .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}


/*******************************************************************************
 *                                                                             *
 * Text Areas                                                                 *
 *                                                                             *
 ******************************************************************************/

/*
.text-area {
    -fx-line-spacing: 10px;
    -fx-font-family: Arial;
    -fx-font-size: 12;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-opacity: 1.0;
    -fx-fill: ghostwhite;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: ghostwhite;
    -fx-border-color: transparent;
    -fx-alignment: top-left;
}
*/

#filedesc {
    -fx-font-size: 13;
    -fx-line-spacing: 10px;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(207, 207, 207);
    -fx-opacity: 1.0;
    -fx-fill: ghostwhite;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: ghostwhite;
    -fx-border-color: transparent;
    -fx-alignment: top-left;
}

.text-area, .text-area {
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-prompt-text-fill: ghostwhite;
    -fx-alignment: top-left;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color: transparent;
}

.text-area:disabled, .text-area:disabled > * {
    -fx-font-weight: BOLD;
    -fx-font-family: "Courier New";
    -fx-font-size: 13;
    -fx-text-fill: rgb(255, 255, 0);
    -fx-opacity: 1.0;
}

.text-area .scroll-bar:horizontal,
.text-area .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

.text-area .scroll-bar:horizontal .track,
.text-area .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-opacity: 0;
}

.text-area .scroll-bar:horizontal .thumb,
.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0em;
    -fx-opacity: 0;
}


.text-area .scroll-bar:horizontal:disabled {
    -fx-opacity: 0;
}

.text-area.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

.text-area.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}


.text-area.scroll-pane .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

.text-area.scroll-pane.scroll-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
}

#textAreaJack.text-area, .text-area.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: left;
}

#textAreaMike.text-area, .text-area.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-alignment: right;
}


#noCaret {
    -fx-display-caret: false;
}
